SPARKY_FITNESS_DB_NAME=sparkyfitness
SPARKY_FITNESS_DB_USER=sparky
SPARKY_FITNESS_DB_PASSWORD=changeme
SPARKY_FITNESS_APP_DB_USER=sparkyapp
SPARKY_FITNESS_APP_DB_PASSWORD=changeme
SPARKY_FITNESS_API_ENCRYPTION_KEY=changeme   # openssl rand -hex 32
BETTER_AUTH_SECRET=changeme                  # openssl rand -hex 32
SPARKY_FITNESS_FRONTEND_URL=https://your-host.your-tailnet.ts.net:8443
SPARKY_FITNESS_EXTRA_TRUSTED_ORIGINS=http://sparky.homelab
ALLOW_PRIVATE_NETWORK_CORS=false
SPARKY_FITNESS_LOG_LEVEL=ERROR
SPARKY_FITNESS_DISABLE_SIGNUP=true
SPARKY_FITNESS_ADMIN_EMAIL=you@example.com
SPARKY_FITNESS_PUBLIC_API_DOCS=false
TZ=Europe/Lisbon
DB_PATH=./postgresql
SERVER_BACKUP_PATH=./backup
SERVER_UPLOADS_PATH=./uploads
SPARKY_FITNESS_EMAIL_HOST=
SPARKY_FITNESS_EMAIL_PORT=
SPARKY_FITNESS_EMAIL_SECURE=
SPARKY_FITNESS_EMAIL_USER=
SPARKY_FITNESS_EMAIL_PASS=
SPARKY_FITNESS_EMAIL_FROM=
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=
