TS_HOST=your-host.your-tailnet.ts.net
TS_IP=100.x.y.z   # tailscale ip -4
COMPOSE_KOMODO_IMAGE_TAG=2
TZ=Europe/Lisbon
KOMODO_DATABASE_USERNAME=komodo
KOMODO_DATABASE_PASSWORD=changeme
KOMODO_HOST=http://komodo.homelab
KOMODO_TITLE=Komodo
KOMODO_LOCAL_AUTH=true
KOMODO_INIT_ADMIN_USERNAME=admin
KOMODO_INIT_ADMIN_PASSWORD=changeme
KOMODO_DISABLE_USER_REGISTRATION=true
KOMODO_ENABLE_NEW_USERS=false
KOMODO_FIRST_SERVER_NAME=homelab
KOMODO_WEBHOOK_SECRET=changeme
KOMODO_JWT_SECRET=changeme
KOMODO_JWT_TTL=1-day
KOMODO_MONITORING_INTERVAL=15-sec
KOMODO_RESOURCE_POLL_INTERVAL=1-hr
KOMODO_DISABLE_CONFIRM_DIALOG=false
KOMODO_DISABLE_INIT_RESOURCES=false
