# Any HOMEPAGE_VAR_* can be used as {{HOMEPAGE_VAR_*}} in config/*.yaml
HOMEPAGE_VAR_TS_HOST=your-host.your-tailnet.ts.net
HOMEPAGE_VAR_ADGUARD_USER=admin
HOMEPAGE_VAR_ADGUARD_PASS=changeme
HOMEPAGE_VAR_WUD_USER=admin
HOMEPAGE_VAR_WUD_PASS=changeme
HOMEPAGE_VAR_SPOTIFY_KEY=changeme
HOMEPAGE_VAR_SPARKY_KEY=changeme
HOMEPAGE_VAR_KOMODO_KEY=changeme
HOMEPAGE_VAR_KOMODO_SECRET=changeme
