TS_HOST=your-host.your-tailnet.ts.net
DB_PASSWD=changeme
MARIADB_PASSWORD=changeme      # same as DB_PASSWD
MARIADB_ROOT_PASSWORD=changeme
ROMM_AUTH_SECRET_KEY=changeme  # openssl rand -hex 32
# Metadata providers (optional)
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=
STEAMGRIDDB_API_KEY=
RETROACHIEVEMENTS_API_KEY=
